[workspace]
resolver = "2"
members = ["app", "lib"]

[workspace.package]
authors = ["Ash Manning <ash@layertwolabs.com>"]
edition = "2021"
version = "0.2.0"
license-file = "LICENSE.txt"
publish = false

[workspace.dependencies.bitcoin-jsonrpsee]
git = "https://github.com/LayerTwo-Labs/bitcoin-jsonrpsee.git"
rev = "5a1d8c84cd6d1a357106e0397ae66cc31e55b855"

[workspace.dependencies.futures]
version = "0.3.30"

[workspace.lints.clippy]
all = { level = "deny", priority = -1 }
assertions_on_result_states = "allow"
let_unit_value = "allow"
wildcard_imports = "deny"

[workspace.lints.rust]
let_underscore_drop = "deny"
